::ng-deep #gridContainer
{
  width: 84%;
  position: absolute;
  height: auto;
  top: 13%;
  left: 9%;
}



/* ::ng-deep .dx-datagrid-borders > .dx-datagrid-headers
{
  background-color: blue !important;
  color:white;
} */

